#!/bin/sh

# prevent bash issues such as this: if we have just uninstalled gnu grep and we source 'bash_profile' in the same shell,
# we might get the error "/usr/local/bin/grep: No such file or directory" when we use grep just a few lines bellow and elsewhere
hash -r

# remove git alias in case 'hub' has just been uninstalled ('git' is used later on in the profile and this will create an error)
unalias git 2>/dev/null

# basic aliases
alias d='cd ${HOME}/Desktop'
alias s='echo $?'
alias dotcd='cd ${DOTFILES}'
alias dsync='set -- -f; . ${DOTFILES}/bootstrap.sh'
if command -v subl >/dev/null 2>&1; then
	alias dotop='subl ${DOTFILES}'
	alias dot='dotcd && dotop'
fi

# grep alias
if printf "test" | GREP_OPTIONS="" command grep --color=auto "test" >/dev/null 2>&1; then # test for grep color option
	alias grep="grep --color=auto"
fi

# ls aliases
lscmd="ls"
colorflag=""
group_dir_flag=""
if command gls --version >/dev/null 2>&1; then # gnu 'ls' is installed with prefix 'g'
	lscmd="gls"
	colorflag="--color=auto"
	group_dir_flag="--group-directories-first"
elif command ls --color >/dev/null 2>&1; then # gnu 'ls' flavor is installed
	colorflag="--color=auto"
	group_dir_flag="--group-directories-first"
elif command ls -G >/dev/null 2>&1; then # macos/*bsd 'ls' flavor is installed
	colorflag="-G"
fi
# shellcheck disable=SC2139
{
	alias ls="$lscmd -F $colorflag $group_dir_flag"
	alias lsa="$lscmd -AF $colorflag $group_dir_flag" # include dot files
}
unset lscmd colorflag

# make python 3 default python if that is not already the case
python_version="$(python -c 'import sys; print(sys.version_info.major)')"
if [ -n "$python_version" ] && ! [ "$python_version" -eq 3 ]; then
	if command -v python3 >/dev/null 2>&1; then
		alias python=python3
	fi
	if command -v pip3 >/dev/null 2>&1; then
		alias pip=pip3
	fi
fi
unset python_version

# extend git command with 'hub'
if printf "bash zsh sh ksh csh tcsh fish" |
GREP_OPTIONS="" command grep "$(command basename "$SHELL")" >/dev/null 2>&1; then # only consider 'hub' supported shells
	command -v hub >/dev/null 2>&1 && eval "$(hub alias -s)" # add github support to git
fi
