#!/bin/sh

# basic environment variables
export EDITOR="vim"
export ENV="${HOME}/.shrc"

# prevent python-generated .pyc files
# export PYTHONDONTWRITEBYTECODE=1
# pip should only run if there is a virtualenv currently activated
export PIP_REQUIRE_VIRTUALENV=true
# make python use utf-8 encoding for output to stdin, stdout, and stderr
export PYTHONIOENCODING="UTF-8"
# virtualenvwrapper setup
export PROJECT_HOME="${HOME}/projects"
export PIPX_HOME="${HOME}/.local/pipx"
export PIPX_BIN_DIR="${HOME}/.local/bin"
export VIRTUALENVWRAPPER_PYTHON="${PIPX_HOME}/venvs/virtualenvwrapper/bin/python"

# enable persistent REPL history for 'node'
export NODE_REPL_HISTORY="${HOME}/.node_history"
export NODE_REPL_HISTORY_SIZE=150000
export NVM_DIR="${HOME}/.nvm"

# dotfiles
export DOTFILES="${PROJECT_HOME}/dotfiles"
