jupyter
numpy
scipy
sympy
pandas
matplotlib
patsy
seaborn
scikit-learn
bokeh
plotly
py4j # required in order to be able to import the PySpark module that comes with a system-wide installation of Apache Spark
beautifulsoup4
nltk
theano
keras
gensim
networkx
glueviz
spyder # requires PyQt4 installed system-wide
numexpr
bcolz
orange3
tables # requires hdf5 1.8.4 or above
statsmodels
ggplot
pygal
geoplotlib
missingno
altair
streamparse
rq
luigi
xlwings
tensorflow
pymc3

### ipython testing suite ('iptest' command) additional requirements
# six
# nose
# testpath
